<div class="dashboard page">
  <button class="button button-round" routerLink="/home">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M12 2.0996094L1 12L4 12L4 21L9 21L9 14L15 14L15 21L20 21L20 12L23 12L19 8.4003906L19 4L17 4L17 6.5996094L12 2.0996094 z"/>
    </svg>
  </button>

  <div *ngIf="(user | async)" class="dashboard-content">
    <div class="background-color">
      <p>Welcome, {{ (user | async)?.displayName }} !</p>
      <ul *ngIf="(user | async)">
        <li>Account Type: {{ (user | async)?.accountType }}</li>
        <li>Display Name (lower): {{ (user | async)?.displayName_lower }}</li>
        <li>Email: {{ (user | async)?.email }}</li>
        <li>Email (lower): {{ (user | async)?.email_lower }}</li>
        <li>Email Verification Status: {{ (afAuth.user | async)?.emailVerified }}</li>
      </ul>
    </div>
    <button class="button button-basic" (click)="logout()">Log out</button>
  </div>
</div>
