<div class="home moving-bg">
  <img class="image-bg img-cover" src="../../../assets/rocket.svg" alt="">
  <div class="home-container">
    <h1 class="home-title">Authorization</h1>
    <h2 class="home-subtitle">on firebase</h2>
    <p class="home-content">Firebase Authentication for logins and Cloud Firestore
      to build a NoSQL database to store details about users.</p>
      <div class="home-btns">
        <a class="button button-basic" routerLink="/signup">Sign up</a>
        <a class="button button-basic" routerLink="/login">Log in</a>
      </div>
  </div>
</div>
